

@model FreeGrab.Models.Employee


@{
    ViewBag.Title = "ResetPasswordSuccess";
    Layout = "~/Views/Shared/_LayoutAccount.cshtml";
}


<div class="hero" style=" background-size: cover; background-position: center center">

    <div class="row  ">
        <div class="col-md-3">
           
        </div>

        <h1> Register Successful!</h1>

        @Html.ActionLink("Change Password", "ChangePassword", "Admin")
        @Html.ActionLink("Update Profile", "UpdateProfile", "Admin")
        @Html.ActionLink("Logout", "Logout", "Admin")
        <div>  @Html.ActionLink("Home", "Index", "Home")</div>




        <div class="col-md-3">
         
        </div>
    </div>

</div>



@Scripts.Render("~/Scripts/Home/Display.js")