
@model FreeGrab.Models.ShowData
<div class="pick-up">
 <div class="vc_row wpb_row vc_row-fluid show-ajax">
                <div class="wpb_column vc_column_container vc_col-sm-12">
                    <div class="vc_column-inner ">
                        <div class="wpb_wrapper">
                            <div class="wpb_revslider_element wpb_content_element main-slider revolution-slider">
                                <div id="rev_slider_1_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" style="margin: 0px auto; background-color: transparent; padding: 0px; height: 720px; overflow: visible;">
                                    <!-- START REVOLUTION SLIDER 5.2.6 auto mode -->
                                    <div id="rev_slider_1_1" class="rev_slider fullwidthabanner revslider-initialised tp-simpleresponsive" style="margin-top: 0px; margin-bottom: 0px; height: 720px;" data-version="5.2.6" data-slideactive="rs-1">
                                        <ul class="tp-revslider-mainul" style="visibility: visible; display: block; overflow: hidden; width: 1423px; height: 100%; max-height: none; left: 0px;">
                                            <!-- SLIDE  -->
                                            <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://kenh14cdn.com/2017/img2757-1512071141256.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli active-revslide" style="width: 100%; height: 100%; overflow: hidden; z-index: 20; visibility: inherit; opacity: 1; background-color: rgba(255, 255, 255, 0);">
                                                <!-- MAIN IMAGE -->
                                                <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="~/Content/Home/wp-content/uploads/2016/09/1.jpg" alt="" title="1" width="1918" height="785" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">--><div class="tp-bgimg defaultimg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;https://kenh14cdn.com/2017/img2757-1512071141256.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="https://kenh14cdn.com/2017/img2757-1512071141256.jpg"></div></div>
                                                <!-- LAYERS -->
                                                <!-- LAYER NR. 1 -->
                                                <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 346px; top: 205px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme" id="slide-1-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-100" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="x:-50px;opacity:0;s:1500;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="7800" style="z-index: 5; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 400; color: rgb(255, 255, 255); visibility: hidden; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); transform-origin: 50% 50% 0px;"><div style="transition: none; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 24px;"><h1 style="transition: none; line-height: 110px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 700; font-size: 92px;"><span class="normal-font" style="transition: none; line-height: 110px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 92px;">Save</span> The Child</h1></div> </div></div></div></div>

                                                <!-- LAYER NR. 2 -->
                                                <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 325px; top: 327px; z-index: 6;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme" id="slide-1-layer-2" data-x="center" data-hoffset="" data-y="center" data-voffset="-10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="x:50px;opacity:0;s:1500;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="7800" style="z-index: 6; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 400; color: rgb(255, 255, 255); visibility: hidden; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1); transform-origin: 50% 50% 0px;"> <div style="transition: none; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 24px;"><h3 class="bg-color" style="transition: none; line-height: 36px; border-width: 0px; margin: 0px; padding: 5px 16px; letter-spacing: 0px; font-weight: 700; font-size: 26px;">We need your support! Became a part of the world</h3></div> </div></div></div></div>

                                                <!-- LAYER NR. 3 -->
                                                <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 300px; top: 408px; z-index: 7;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme" id="slide-1-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="70" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="x:-50px;opacity:0;s:1500;e:Power4.easeOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="7800" style="z-index: 7; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 400; color: rgb(255, 255, 255); visibility: hidden; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1); transform-origin: 50% 50% 0px;"><div class="text-center" style="transition: none; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 24px;"><div class="text" style="transition: none; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 24px;">Lorem ipsum dolor sit amet, debet dolore mollis his ad, ea ususoleat detraxit. <br>In vix agam moderatius. Modo partiendo.</div></div> </div></div></div></div>

                                                <!-- LAYER NR. 4 -->
                                                <div class="tp-parallax-wrap" style="position: absolute; visibility: visible; left: 493px; top: 486px; z-index: 8;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme" id="slide-1-layer-4" data-x="center" data-hoffset="" data-y="center" data-voffset="150" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:1500;e:Power2.easeInOut;" data-transform_out="y:50px;opacity:0;s:1500;e:Power4.easeOut;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" style="z-index: 8; white-space: nowrap; font-size: 24px; line-height: 22px; font-weight: 400; color: rgb(255, 255, 255); visibility: inherit; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 1; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1); transform-origin: 50% 50% 0px;"><div style="transition: none; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 24px;"><a href="#" class="theme-btn btn-style-four mr-10" style="transition: none; line-height: 22px; border-width: 2px; margin: 0px 10px 0px 0px; padding: 11px 25px; letter-spacing: 0px; font-weight: 400; font-size: 24px;">Learn More</a><a href="#" class="theme-btn btn-style-two" style="transition: none; line-height: 22px; border-width: 2px; margin: 0px; padding: 11px 25px; letter-spacing: 0px; font-weight: 400; font-size: 24px;">Donate Now</a></div> </div></div></div></div>
                                            </li>
                                            <!-- SLIDE  -->
                                            <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="https://kenh14cdn.com/2017/img2757-1512071141256.jpg" data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="" class="tp-revslider-slidesli" style="width: 100%; height: 100%; overflow: hidden; z-index: 18; visibility: hidden; opacity: 0; background-color: rgba(255, 255, 255, 0);">
                                                <!-- MAIN IMAGE -->
                                                <div class="slotholder" style="position: absolute; top: 0px; left: 0px; z-index: 0; width: 100%; height: 100%; visibility: inherit; opacity: 1; transform: matrix(1, 0, 0, 1, 0, 0);"><!--Runtime Modification - Img tag is Still Available for SEO Goals in Source - <img src="https://kenh14cdn.com/2017/img2757-1512071141256.jpg" alt="" title="2" width="1918" height="785" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg defaultimg" data-no-retina="">--><div class="tp-bgimg defaultimg" style="background-color: rgba(0, 0, 0, 0); background-repeat: no-repeat; background-image: url(&quot;http://asianitbd.com/wp/charityclub/wp-content/uploads/2016/09/2.jpg&quot;); background-size: cover; background-position: center center; width: 100%; height: 100%; opacity: 1; visibility: inherit; z-index: 20;" src="http://asianitbd.com/wp/charityclub/wp-content/uploads/2016/09/2.jpg"></div></div>
                                                <!-- LAYERS -->
                                                <!-- LAYER NR. 1 -->
                                                <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 391px; top: 210px; z-index: 5;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme" id="slide-2-layer-1" data-x="center" data-hoffset="" data-y="center" data-voffset="-100" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="x:-50px;opacity:0;s:1500;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="7800" style="z-index: 5; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgb(255, 255, 255); visibility: hidden; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1);"><div style="transition: none; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 20px;"><h2 class="normal-font" style="transition: none; line-height: 86px; border-width: 0px; margin: 0px; padding: 7px 15px; letter-spacing: 0px; font-weight: 400; font-size: 72px;"><span style="transition: none; line-height: 86px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 72px;">Help us</span> <strong class="theme_color" style="transition: none; line-height: 86px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 700; font-size: 72px;">to save</strong></h2></div> </div></div></div></div>

                                                <!-- LAYER NR. 2 -->
                                                <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 280px; top: 300px; z-index: 6;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme" id="slide-2-layer-2" data-x="center" data-hoffset="" data-y="center" data-voffset="-10" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:50px;opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="x:50px;opacity:0;s:1500;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="7800" style="z-index: 6; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgb(255, 255, 255); visibility: hidden; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 50, 0, 0, 1);"><div style="transition: none; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 20px;"><h2 style="transition: none; line-height: 86px; border-width: 0px; margin: 0px; padding: 7px 15px; letter-spacing: 0px; font-weight: 800; font-size: 72px;">the <span class="theme_color" style="transition: none; line-height: 86px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 800; font-size: 72px;">Homeless</span> People</h2></div> </div></div></div></div>

                                                <!-- LAYER NR. 3 -->
                                                <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 418px; top: 409px; z-index: 7;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme" id="slide-2-layer-3" data-x="center" data-hoffset="" data-y="center" data-voffset="70" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="x:-50px;opacity:0;s:1000;e:Power2.easeInOut;" data-transform_out="x:-50px;opacity:0;s:1500;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="7800" style="z-index: 7; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgb(255, 255, 255); visibility: hidden; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, -50, 0, 0, 1);"><div style="transition: none; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 20px;"><h4 style="transition: none; line-height: 33px; border-width: 0px; margin: 0px; padding: 5px 16px; letter-spacing: 0px; font-weight: 600; font-size: 24px;">All of our afford can bring back the life</h4></div> </div></div></div></div>

                                                <!-- LAYER NR. 4 -->
                                                <div class="tp-parallax-wrap" style="position: absolute; visibility: hidden; left: 564px; top: 485px; z-index: 8;"><div class="tp-loop-wrap" style="position:absolute;"><div class="tp-mask-wrap" style="position: absolute; overflow: visible; height: auto; width: auto;"><div class="tp-caption   tp-resizeme" id="slide-2-layer-4" data-x="center" data-hoffset="" data-y="center" data-voffset="150" data-width="['auto']" data-height="['auto']" data-transform_idle="o:1;" data-transform_in="y:50px;opacity:0;s:1500;e:Power2.easeInOut;" data-transform_out="y:50px;opacity:0;s:1500;" data-start="500" data-splitin="none" data-splitout="none" data-responsive_offset="on" data-end="7800" style="z-index: 8; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgb(255, 255, 255); visibility: hidden; transition: none; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; min-height: 0px; min-width: 0px; max-height: none; max-width: none; opacity: 0.0001; transform-origin: 50% 50% 0px; transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 50, 0, 1);"><div style="transition: none; line-height: 22px; border-width: 0px; margin: 0px; padding: 0px; letter-spacing: 0px; font-weight: 400; font-size: 20px;"><a href="#" class="theme-btn btn-style-five mr-10" style="transition: none; line-height: 24px; border-width: 1px; margin: 0px 10px 0px 0px; padding: 11px 25px; letter-spacing: 0px; font-weight: 700; font-size: 13px;">Join With Us</a><a href="#" class="theme-btn btn-style-two" style="transition: none; line-height: 24px; border-width: 1px; margin: 0px; padding: 11px 25px; letter-spacing: 0px; font-weight: 700; font-size: 13px;">Donate Now</a></div> </div></div></div></div>
                                            </li>
                                        </ul>
                                        <script>
                                            var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
                                            if (htmlDiv) {
                                                htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                            } else {
                                                var htmlDiv = document.createElement("div");
                                                htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                                document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                                            }
                                        </script>
                                        <div class="tp-bannertimer tp-bottom" style="visibility: hidden; width: 6.65556%; transform: translate3d(0px, 0px, 0px);"></div>	<div class="tp-loader spinner0" style="display: none;"><div class="dot1"></div><div class="dot2"></div><div class="bounce1"></div><div class="bounce2"></div><div class="bounce3"></div></div><div class="tp-leftarrow tparrows hermes" style="top: 50%; transform: matrix(1, 0, 0, 1, 0, -55); left: 0px;"><div class="tp-arr-allwrapper">	<div class="tp-arr-imgholder" style="background-image: url(&quot;http://asianitbd.com/wp/charityclub/wp-content/uploads/2016/09/2-100x50.jpg&quot;);"></div>	<div class="tp-arr-titleholder">Slide</div>	</div></div><div class="tp-rightarrow tparrows hermes" style="top: 50%; transform: matrix(1, 0, 0, 1, -30, -55); left: 100%;"><div class="tp-arr-allwrapper">	<div class="tp-arr-imgholder" style="background-image: url(&quot;http://asianitbd.com/wp/charityclub/wp-content/uploads/2016/09/2-100x50.jpg&quot;);"></div>	<div class="tp-arr-titleholder">Slide</div>	</div></div>
                                    </div>
                                    <script>
                                        var htmlDiv = document.getElementById("rs-plugin-settings-inline-css"); var htmlDivCss = "";
                                        if (htmlDiv) {
                                            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                        } else {
                                            var htmlDiv = document.createElement("div");
                                            htmlDiv.innerHTML = "<style>" + htmlDivCss + "</style>";
                                            document.getElementsByTagName("head")[0].appendChild(htmlDiv.childNodes[0]);
                                        }
                                    </script>
                                    <script type="text/javascript">
                                /******************************************
                        -	PREPARE PLACEHOLDER FOR SLIDER	-
                    ******************************************/

                    var setREVStartSize=function(){
                        try{var e=new Object,i=jQuery(window).width(),t=9999,r=0,n=0,l=0,f=0,s=0,h=0;
                            e.c = jQuery('#rev_slider_1_1');
                            e.gridwidth = [1349];
                            e.gridheight = [720];

                            e.sliderLayout = "auto";
                            if(e.responsiveLevels&&(jQuery.each(e.responsiveLevels,function(e,f){f>i&&(t=r=f,l=e),i>f&&f>r&&(r=f,n=e)}),t>r&&(l=n)),f=e.gridheight[l]||e.gridheight[0]||e.gridheight,s=e.gridwidth[l]||e.gridwidth[0]||e.gridwidth,h=i/s,h=h>1?1:h,f=Math.round(h*f),"fullscreen"==e.sliderLayout){var u=(e.c.width(),jQuery(window).height());if(void 0!=e.fullScreenOffsetContainer){var c=e.fullScreenOffsetContainer.split(",");if (c) jQuery.each(c,function(e,i){u=jQuery(i).length>0?u-jQuery(i).outerHeight(!0):u}),e.fullScreenOffset.split("%").length>1&&void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0?u-=jQuery(window).height()*parseInt(e.fullScreenOffset,0)/100:void 0!=e.fullScreenOffset&&e.fullScreenOffset.length>0&&(u-=parseInt(e.fullScreenOffset,0))}f=u}else void 0!=e.minHeight&&f<e.minHeight&&(f=e.minHeight);e.c.closest(".rev_slider_wrapper").css({height:f})

                        }catch(d){console.log("Failure at Presize of Slider:"+d)}
                    };

                    setREVStartSize();

                                var tpj=jQuery;

                    var revapi1;
                    tpj(document).ready(function() {
                        if(tpj("#rev_slider_1_1").revolution == undefined){
                            revslider_showDoubleJqueryError("#rev_slider_1_1");
                        }else{
                            revapi1 = tpj("#rev_slider_1_1").show().revolution({
                                sliderType:"standard",
        jsFileLocation:"//asianitbd.com/wp/charityclub/wp-content/plugins/revslider/public/assets/js/",
                                sliderLayout:"auto",
                                dottedOverlay:"none",
                                delay:9000,
                                navigation: {
                                    keyboardNavigation:"off",
                                    keyboard_direction: "horizontal",
                                    mouseScrollNavigation:"off",
                                    mouseScrollReverse:"default",
                                    onHoverStop:"off",
                                    arrows: {
                                        style:"hermes",
                                        enable:true,
                                        hide_onmobile:false,
                                        hide_onleave:false,
                                        tmp:'<div class="tp-arr-allwrapper">	<div class="tp-arr-imgholder"></div>	<div class="tp-arr-titleholder">{{title}}</div>	</div>',
                                        left: {
                                            h_align:"left",
                                            v_align:"center",
                                            h_offset:0,
                                            v_offset:0
                                        },
                                        right: {
                                            h_align:"right",
                                            v_align:"center",
                                            h_offset:0,
                                            v_offset:0
                                        }
                                    }
                                },
                                visibilityLevels:[1240,1024,778,480],
                                gridwidth:1349,
                                gridheight:720,
                                lazyType:"none",
                                shadow:0,
                                spinner:"spinner0",
                                stopLoop:"off",
                                stopAfterLoops:-1,
                                stopAtSlide:-1,
                                shuffle:"off",
                                autoHeight:"off",
                                disableProgressBar:"on",
                                hideThumbsOnMobile:"off",
                                hideSliderAtLimit:0,
                                hideCaptionAtLimit:0,
                                hideAllCaptionAtLilmit:0,
                                debugMode:false,
                                fallbacks: {
                                    simplifyAll:"off",
                                    nextSlideOnWindowFocus:"off",
                                    disableFocusListener:false,
                                }
                            });
                        }
                    });	/*ready*/
                                    </script>
                                    <script>
                                        var htmlDivCss = unescape(".hermes.tparrows%20%7B%0A%09cursor%3Apointer%3B%0A%09background%3Argba%280%2C0%2C0%2C0.5%29%3B%0A%09width%3A30px%3B%0A%09height%3A110px%3B%0A%09position%3Aabsolute%3B%0A%09display%3Ablock%3B%0A%09z-index%3A100%3B%0A%7D%0A%0A.hermes.tparrows%3Abefore%20%7B%0A%09font-family%3A%20%22revicons%22%3B%0A%09font-size%3A15px%3B%0A%09color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%09display%3Ablock%3B%0A%09line-height%3A%20110px%3B%0A%09text-align%3A%20center%3B%0A%20%20%20%20transform%3Atranslatex%280px%29%3B%0A%20%20%20%20-webkit-transform%3Atranslatex%280px%29%3B%0A%20%20%20%20transition%3Aall%200.3s%3B%0A%20%20%20%20-webkit-transition%3Aall%200.3s%3B%0A%7D%0A.hermes.tparrows.tp-leftarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce824%22%3B%0A%7D%0A.hermes.tparrows.tp-rightarrow%3Abefore%20%7B%0A%09content%3A%20%22%5Ce825%22%3B%0A%7D%0A.hermes.tparrows.tp-leftarrow%3Ahover%3Abefore%20%7B%0A%20%20%20%20transform%3Atranslatex%28-20px%29%3B%0A%20%20%20%20-webkit-transform%3Atranslatex%28-20px%29%3B%0A%20%20%20%20%20opacity%3A0%3B%0A%7D%0A.hermes.tparrows.tp-rightarrow%3Ahover%3Abefore%20%7B%0A%20%20%20%20transform%3Atranslatex%2820px%29%3B%0A%20%20%20%20-webkit-transform%3Atranslatex%2820px%29%3B%0A%20%20%20%20%20opacity%3A0%3B%0A%7D%0A%0A.hermes%20.tp-arr-allwrapper%20%7B%0A%20%20%20%20overflow%3Ahidden%3B%0A%20%20%20%20position%3Aabsolute%3B%0A%09width%3A180px%3B%0A%20%20%20%20height%3A140px%3B%0A%20%20%20%20top%3A0px%3B%0A%20%20%20%20left%3A0px%3B%0A%20%20%20%20visibility%3Ahidden%3B%0A%20%20%20%20%20%20-webkit-transition%3A%20-webkit-transform%200.3s%200.3s%3B%0A%20%20transition%3A%20transform%200.3s%200.3s%3B%0A%20%20-webkit-perspective%3A%201000px%3B%0A%20%20perspective%3A%201000px%3B%0A%20%20%20%20%7D%0A.hermes.tp-rightarrow%20.tp-arr-allwrapper%20%7B%0A%20%20%20right%3A0px%3Bleft%3Aauto%3B%0A%20%20%20%20%20%20%7D%0A.hermes.tparrows%3Ahover%20.tp-arr-allwrapper%20%7B%0A%20%20%20visibility%3Avisible%3B%0A%20%20%20%20%20%20%20%20%20%20%7D%0A.hermes%20.tp-arr-imgholder%20%7B%0A%20%20width%3A180px%3Bposition%3Aabsolute%3B%0A%20%20left%3A0px%3Btop%3A0px%3Bheight%3A110px%3B%0A%20%20transform%3Atranslatex%28-180px%29%3B%0A%20%20-webkit-transform%3Atranslatex%28-180px%29%3B%0A%20%20transition%3Aall%200.3s%3B%0A%20%20transition-delay%3A0.3s%3B%0A%7D%0A.hermes.tp-rightarrow%20.tp-arr-imgholder%7B%0A%20%20%20%20transform%3Atranslatex%28180px%29%3B%0A%20%20-webkit-transform%3Atranslatex%28180px%29%3B%0A%20%20%20%20%20%20%7D%0A%20%20%0A.hermes.tparrows%3Ahover%20.tp-arr-imgholder%20%7B%0A%20%20%20transform%3Atranslatex%280px%29%3B%0A%20%20%20-webkit-transform%3Atranslatex%280px%29%3B%20%20%20%20%20%20%20%20%20%20%20%20%0A%7D%0A.hermes%20.tp-arr-titleholder%20%7B%0A%20%20top%3A110px%3B%0A%20%20width%3A180px%3B%0A%20%20text-align%3Aleft%3B%20%0A%20%20display%3Ablock%3B%0A%20%20padding%3A0px%2010px%3B%0A%20%20line-height%3A30px%3B%20background%3A%23000%3B%0A%20%20background%3Argba%280%2C0%2C0%2C0.75%29%3B%0A%20%20color%3Argb%28255%2C%20255%2C%20255%29%3B%0A%20%20font-weight%3A600%3B%20position%3Aabsolute%3B%0A%20%20font-size%3A12px%3B%0A%20%20white-space%3Anowrap%3B%0A%20%20letter-spacing%3A1px%3B%0A%20%20-webkit-transition%3A%20all%200.3s%3B%0A%20%20transition%3A%20all%200.3s%3B%0A%20%20-webkit-transform%3A%20rotatex%28-90deg%29%3B%0A%20%20transform%3A%20rotatex%28-90deg%29%3B%0A%20%20-webkit-transform-origin%3A%2050%25%200%3B%0A%20%20transform-origin%3A%2050%25%200%3B%0A%20%20box-sizing%3Aborder-box%3B%0A%0A%7D%0A.hermes.tparrows%3Ahover%20.tp-arr-titleholder%20%7B%0A%20%20%20%20-webkit-transition-delay%3A%200.6s%3B%0A%20%20transition-delay%3A%200.6s%3B%0A%20%20-webkit-transform%3A%20rotatex%280deg%29%3B%0A%20%20transform%3A%20rotatex%280deg%29%3B%0A%7D%0A%0A");
                                        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
                                        if (htmlDiv) {
                                            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
                                        }
                                        else {
                                            var htmlDiv = document.createElement('div');
                                            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
                                            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
                                        }
                                    </script>
                                </div><!-- END REVOLUTION SLIDER -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <!--Events Section-->
                    <section class="welcome-section pt-70 pb-70" data-bac="#fcfcfc">
                        <div class="auto-container">

                            <div class="row clearfix">

                                <!--Cause Column-->
                                <div class="column default-featured-column links-column col-lg-4 col-md-12">
                                    <article class="inner-box mb-md-60">
                                        <div class="vertical-links-outer events-post">
                                            <div class="text-uppercase p-20 mb-5" data-bac="#393d42">
                                                <h2 class="white_color fw-b fs-24 mr-xs-80 mr-xxs-0">Join <span class="theme_color">our event</span> &#038; helping us by donation</h2>
                                            </div>

                                            <div class="bx-event-carousel">

                                                @{ Html.RenderAction("ListNewses");}

                                            </div>

                                        </div>
                                    </article>
                                </div>

                                <div class="col-lg-8 col-md-12">
                                    <div class="row">


                                        <!--Featured Column-->
                                        <div class="row">
                                            <div class="column default-featured-column style-three col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <article class="inner-box mb-xs-60">
                                                    <figure class="image-box">
                                                        <a href="~/Content/Home/wp/FreeGrabs/campaigns/feed-for-hungry-child-2/"><img width="270" height="191" src="~/Content/Home/img/4.jpg" class="img-responsive wp-post-image" alt="3" /></a>
                                                        <div class="post-tag">Urgent Cause</div>
                                                    </figure>

                                                    <div class="content-box">
                                                        <h3><a href="~/Content/Home/wp/FreeGrabs/campaigns/feed-for-hungry-child-2/">Feed for hungry child</a></h3>
                                                        <div class="column-info"><span class="amount">&#36;100.00</span> donated of <span class="goal-amount">&#36;2,500.00</span> goal</div>
                                                        <div class="text">Lorem ipsum dolor sit amet et siu amet amet audiam copiosaei mei. 4.00% Raised &#36;100.00 ...</div>
                                                        <a href="~/Content/Home/wp/FreeGrabs/campaigns/feed-for-hungry-child-2/donate/" class="theme-btn btn-style-four btn-sm mr-10">Donate Now</a>
                                                        <a href="~/Content/Home/wp/FreeGrabs/campaigns/feed-for-hungry-child-2/" class="theme-btn btn-style-two btn-sm">Read More</a>
                                                    </div>
                                                </article>
                                            </div>
                                            <div class="column default-featured-column style-three col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                                <article class="inner-box mb-xs-60">
                                                    <figure class="image-box">
                                                        <a href="~/Content/Home/wp/FreeGrabs/campaigns/feed-for-hungry-child/"><img width="345" height="240" src="~/Content/Home/img/1.jpg" class="img-responsive wp-post-image" alt="single-1" /></a>
                                                        <div class="post-tag">Urgent Cause</div>
                                                    </figure>

                                                    <div class="content-box">
                                                        <h3><a href="~/Content/Home/wp/FreeGrabs/campaigns/feed-for-hungry-child/">Feed for hungry child</a></h3>
                                                        <div class="column-info"><span class="amount">&#36;100.00</span> donated of <span class="goal-amount">&#36;2,500.00</span> goal</div>
                                                        <div class="text">Lorem ipsum dolor sit amet et siu amet amet audiam copiosaei mei. 4.00% Raised &#36;100.00 ...</div>
                                                        <a href="~/Content/Home/wp/FreeGrabs/campaigns/feed-for-hungry-child/donate/" class="theme-btn btn-style-four btn-sm mr-10">Donate Now</a>
                                                        <a href="~/Content/Home/wp/FreeGrabs/campaigns/feed-for-hungry-child/" class="theme-btn btn-style-two btn-sm">Read More</a>
                                                    </div>
                                                </article>
                                            </div>
                                        </div>

                                        <div class="row mt-40 mt-xs-0">
                                            <div class="col-xs-12 col-sm-2">
                                                <div class="ml-10 ml-xs-0 mb-xs-20">
                                                    <span class="normal-font theme_color fs-24">Our</span>
                                                    <h2 class="fw-b fs-30 lh-30">IMPACT</h2>
                                                </div>
                                            </div>
                                            <div class="col-xs-12 col-sm-10">
                                                <div class="two-column-fluid style-two ml-20 ml-xs-0">
                                                    <div class="icon-box">
                                                        <div class="icon"><span class="flaticon-shapes-1"></span></div>
                                                        <div class="lower-box">
                                                            <h4>$<span data-speed="1500" data-stop="7,845,910" class="count-text">7,845,910</span></h4>
                                                            <span class="title">Raised</span>
                                                        </div>
                                                    </div>
                                                    <div class="icon-box">
                                                        <div class="icon"><span class="flaticon-tool-4"></span></div>
                                                        <div class="lower-box">
                                                            <h4>$<span data-speed="1500" data-stop="12,360" class="count-text">12,360</span></h4>
                                                            <span class="title">Projects</span>
                                                        </div>
                                                    </div>
                                                    <div class="icon-box">
                                                        <div class="icon"><span class="flaticon-favorite"></span></div>
                                                        <div class="lower-box">
                                                            <h4>$<span data-speed="1500" data-stop="225,580" class="count-text">225,580</span></h4>
                                                            <span class="title">Donations</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">

                    <!--Recent Causes Section-->
                    <section class="recent-projects">
                        <div class="auto-container">

                            <div class="sec-title clearfix">
                                <div class="pull-left">
                                    <h2>New <span class="normal-font theme_color">Patients</span></h2>
                                    <div class="text">Lorem ipsum dolor sit amet, cum at inani interesset, nisl fugit munere ad mel,vix an omnium dolor amet </div>
                                </div>
                                <div class="pull-right padd-top-30">
                                    <a href="/Home/AllPatients" class="theme-btn btn-style-three">See All Patients</a>
                                </div>
                            </div>

                            <div class="row clearfix">
                                <!--Default Featured Column-->

                                @foreach (var patient in Model.patients)
                                {
                                    <div class="column default-featured-column style-two col-lg-3 col-md-6 col-sm-6 col-xs-12 patient_@patient.Id " id="patient_@patient.Id">
                                        <article class="inner-box wow fadeInLeft" data-wow-delay="900ms" data-wow-duration="1500ms">
                                            <figure class="image-box">
                                                <a href="~/Content/Home/wp/FreeGrabs/campaigns/feed-for-hungry-child-2/">

                                                    @foreach (var photo in patient.Photos)
                                                    {
                                                        int count = 0;
                                                        <img object-fit: coverwidth="270" height="191" src="@photo.Url" class="charityclub wp-post-image" alt="1" srcset="@photo.Url 270w, @photo.Url 300w" sizes="(max-width: 270px) 100vw, 270350px" />


                                                        if (++count == 1)
                                                        {
                                                            break;
                                                        }

                                                    }
                                                </a>
                                                <div class="donate-piechart">
                                                    <div class="piechart-block">
                                                        <div class="piechart style-one" data-fg-color="rgba(250,119,68,1)" data-value=".4">
                                                            <span>.4</span>
                                                        </div>
                                                    </div>
                                                </div>
                                            </figure>
                                            <div class="content-box">

                                                <h3><a href="~/Content/Home/wp/FreeGrabs/campaigns/feed-for-hungry-child-2/"> @patient.FullName</a></h3>
                                                <div class="column-info"><span class="amount">Hospitals:</span>  <span class="goal-amount">@patient.Hospital.Name</span></div>
                                                <div class="column-info"><span class="amount">Age:</span>  <span class="goal-amount">@patient.Age</span></div>
                                                <div class="control-thumb"><span class="amount">Destination:</span>  <span class="goal-amount">@patient.Destination</span></div>
                                                <div class="column-info"><span class="amount">Time:</span>  <span class="goal-amount">@patient.DateDeparture</span></div>

                                                <a href="https://www.google.com/maps/dir/@patient.Hospital.Address)'/'@patient.Destination" class="theme-btn btn-style-four btn-sm mr-10">Google map</a>

                                                <button type="button" class="theme-btn btn-style-two btn-sm" onclick="showPopup(@patient.Id)">Pick up</button>

                                            </div>
                                        </article>
                                    </div>

                                }

                            </div>

                        </div>
                    </section>
                </div>
            </div>
        </div>
    </div>

    <div class="modal" tabindex="-1" role="dialog" id="myModal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">YOUR INFOMATION</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="FullName">Full Name</label>
                            <input type="text" class="form-control full-name" id="full-name" placeholder="Your Full Name" />
                        </div>
                        <div class="form-group">
                            <label for="IDCard">ID Card</label>
                            <input type="text" class="form-control id-card" id="id-card" placeholder="Your ID Card" />
                        </div>
                        <div class="form-group">
                            <label for="Phone">Phone</label>
                            <input type="text" class="form-control phone-number" id="phone-number" placeholder="Your Phone" />
                        </div>

                        <div class="form-group  ">
                            <div class="col-md-3"></div>
                            <div class="col-md-6">
                                <img class="image-upload textform" src="" alt="Your Avatar" />
                                <input type="file" name="ImageName" id="avatar" class="textform avatar" onchange="readURL(this);" />
                            </div>


                            @*@Html.TextBoxFor(model => model.Avatar, "test", new { type = "file", @class = "input-file", @name = "Avatar" })*@
                            <div class="col-md-3"></div>
                            <input type="hidden" name="patient " class="patient-id" value="" id="patient-id" style="display:none">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="theme-btn btn-style-two btn-sm btnAdd" id="btnAdd">Add</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                </div>
            </div>
        </div>
    </div>



    <div class="vc_row wpb_row vc_row-fluid">

        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">


                    <!--Gallery Section-->
                    <section class="gallery-section gutterless pb-0">
                        <div class="container">
                            <div class="row">
                                <div class="sec-title text-center">
                                    <h2>Our <span class="normal-font theme_color">Gallery</span></h2>
                                    <div class="text">Lorem ipsum dolor sit amet, cum at inani interes setnisl omnium dolor amet amet qco modo cum text </div>
                                </div>
                            </div>
                        </div>

                        <div class="container-fluid">

                            <!--Filter-->
                            <div class="filters text-center">
                                <ul class="filter-tabs filter-btns clearfix anim-3-all">
                                    <li class="active filter" data-role="button" data-filter="all">All</li>
                                    <li class="filter" data-role="button" data-filter=".child">
                                        Child
                                    </li>
                                    <li class="filter" data-role="button" data-filter=".charity">
                                        Charity
                                    </li>
                                    <li class="filter" data-role="button" data-filter=".plants">
                                        Plants
                                    </li>
                                    <li class="filter" data-role="button" data-filter=".sponsorship">
                                        Sponsorship
                                    </li>
                                    <li class="filter" data-role="button" data-filter=".volunteering">
                                        Volunteering
                                    </li>
                                </ul>
                            </div>

                            <!--Filter List-->
                            <div class="row filter-list clearfix">





                                <!--Column-->
                                <div class="column mix mix_all child  col-md-3 col-sm-6 col-xs-12">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box text-center">
                                            <!--Image Box-->
                                            <figure class="image-box">
                                                <img width="380" height="320" src="~/Content/Home/img/1.jpg" class="attachment-charityclub_380x320 size-charityclub_380x320 wp-post-image" alt="s1"
                                                     srcset="~/Content/Home/img/1.jpg 380w, ~/Content/Home/img/1.jpg 300w" sizes="(max-width: 380px) 100vw, 380px" />
                                            </figure>
                                            <div class="overlay-box">
                                                <div class="inner-content">
                                                    <div class="content">
                                                        <a class="arrow lightbox-image" href="~/Content/Home/img/1.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <!--Column-->
                                <div class="column mix mix_all charity  col-md-3 col-sm-6 col-xs-12">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box text-center">
                                            <!--Image Box-->
                                            <figure class="image-box">
                                                <img width="380" height="320" src="~/Content/Home/img/2.jpg"
                                                     class="attachment-charityclub_380x320 size-charityclub_380x320 wp-post-image" alt="s2"
                                                     srcset="~/Content/Home/img/2.jpg 380w, ~/Content/Home/img/2.jpg 300w" sizes="(max-width: 380px) 100vw, 380px" />
                                            </figure>
                                            <div class="overlay-box">
                                                <div class="inner-content">
                                                    <div class="content">
                                                        <a class="arrow lightbox-image" href="~/Content/Home/img/2.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <!--Column-->
                                <div class="column mix mix_all plants  col-md-3 col-sm-6 col-xs-12">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box text-center">
                                            <!--Image Box-->
                                            <figure class="image-box">
                                                <img width="380" height="320" src="~/Content/Home/img/13.jpg" class="attachment-charityclub_380x320 size-charityclub_380x320 wp-post-image" alt="s1"
                                                     srcset="~/Content/Home/img/13.jpg 380w, ~/Content/Home/img/13.jpg " sizes="(max-width: 380px) 100vw, 380px" />
                                            </figure>
                                            <div class="overlay-box">
                                                <div class="inner-content">
                                                    <div class="content">
                                                        <a class="arrow lightbox-image" href="~/Content/Home/img/13.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>





                                <!--Column-->
                                <div class="column mix mix_all sponsorship  col-md-3 col-sm-6 col-xs-12">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box text-center">
                                            <!--Image Box-->
                                            <figure class="image-box">
                                                <img width="380" height="320" src="~/Content/Home/img/4.jpg"
                                                     class="attachment-charityclub_380x320 size-charityclub_380x320 wp-post-image" alt="s4"
                                                     srcset="~/Content/Home/img/4.jpg 380w, ~/Content/Home/img/4.jpg 300w" sizes="(max-width: 380px) 100vw, 380px" />
                                            </figure>
                                            <div class="overlay-box">
                                                <div class="inner-content">
                                                    <div class="content">
                                                        <a class="arrow lightbox-image" href="~/Content/Home/img/4.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <!--Column-->
                                <div class="column mix mix_all volunteering  col-md-3 col-sm-6 col-xs-12">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box text-center">
                                            <!--Image Box-->
                                            <figure class="image-box">
                                                <img width="380" height="320" src="~/Content/Home/img/5.jpg"
                                                     class="attachment-charityclub_380x320 size-charityclub_380x320 wp-post-image" alt="s5"
                                                     srcset="~/Content/Home/img/5.jpg 380w, ~/Content/Home/img/5.jpg 300w" sizes="(max-width: 380px) 100vw, 380px" />
                                            </figure>
                                            <div class="overlay-box">
                                                <div class="inner-content">
                                                    <div class="content">
                                                        <a class="arrow lightbox-image" href="~/Content/Home/img/5.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <!--Column-->
                                <div class="column mix mix_all child  col-md-3 col-sm-6 col-xs-12">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box text-center">
                                            <!--Image Box-->
                                            <figure class="image-box">
                                                <img width="380" height="320" src="~/Content/Home/img/6.jpg"
                                                     class="attachment-charityclub_380x320 size-charityclub_380x320 wp-post-image" alt="s6"
                                                     srcset="~/Content/Home/img/6.jpg 380w, ~/Content/Home/img/6.jpg 300w" sizes="(max-width: 380px) 100vw, 380px" />
                                            </figure>
                                            <div class="overlay-box">
                                                <div class="inner-content">
                                                    <div class="content">
                                                        <a class="arrow lightbox-image" href="~/Content/Home/img/6.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <!--Column-->
                                <div class="column mix mix_all plants  col-md-3 col-sm-6 col-xs-12">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box text-center">
                                            <!--Image Box-->
                                            <figure class="image-box">
                                                <img width="380" height="320" src="~/Content/Home/img/14.jpg"
                                                     class="attachment-charityclub_380x320 size-charityclub_380x320 wp-post-image" alt="s7"
                                                     srcset="~/Content/Home/img/14.jpg 380w, ~/Content/Home/img/7.jpg 300w" sizes="(max-width: 380px) 100vw, 380px" />
                                            </figure>
                                            <div class="overlay-box">
                                                <div class="inner-content">
                                                    <div class="content">
                                                        <a class="arrow lightbox-image" href="~/Content/Home/img/14.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>





                                <!--Column-->
                                <div class="column mix mix_all volunteering  col-md-3 col-sm-6 col-xs-12">
                                    <!--Default Portfolio Item-->
                                    <div class="default-portfolio-item">
                                        <div class="inner-box text-center">
                                            <!--Image Box-->
                                            <figure class="image-box">
                                                <img width="380" height="320" src="~/Content/Home/img/9.jpg" class="attachment-charityclub_380x320
                                                                       size-charityclub_380x320 wp-post-image" alt="s8"
                                                     srcset="~/Content/Home/img/9.jpg 380w, ~/Content/Home/img/9.jpg 300w" sizes="(max-width: 380px) 100vw, 380px" />
                                            </figure>
                                            <div class="overlay-box">
                                                <div class="inner-content">
                                                    <div class="content">
                                                        <a class="arrow lightbox-image" href="~/Content/Home/img/9.jpg" title="Image Caption Here"><span class="icon flaticon-cross-4"></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                            </div>

                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">
                    <!--Intro Section-->
                    <section class="subscribe-intro">
                        <div class="auto-container">
                            <div class="row clearfix">
                                <!--Column-->
                                <div class="column col-md-9 col-sm-12 col-xs-12">
                                    <h2>Subcribe for Newsletter</h2>
                                    There are many variations of passages of Lorem Ipsum available but the majority have
                                </div>
                                <!--Column-->
                                <div class="column col-md-3 col-sm-12 col-xs-12">
                                    <div class="text-right padd-top-20">
                                        <a href="#" class="theme-btn btn-style-one">Subscribe Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div>
  

    <div class="vc_row wpb_row vc_row-fluid">
        <div class="wpb_column vc_column_container vc_col-sm-12">
            <div class="vc_column-inner ">
                <div class="wpb_wrapper">


                    <!--Blog News Section-->
                    <section class="blog-news-section latest-news">
                        <div class="auto-container">

                            <div class="sec-title text-center">
                                <h2>Latest  <span class="normal-font theme_color">News</span></h2>
                                <div class="text">The newses about activity and stories about community</div>
                            </div>
                            <div class="row clearfix">
                                <!--News Column-->
                                @foreach (var news in Model.news)
                                {
                                    <div class="column blog-news-column col-lg-4 col-md-6 col-sm-6 col-xs-12">
                                        <article class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                                            <figure class="image-box">
                                                <a href="~/Content/Home/wp/FreeGrabs/2016/09/lates-blog-post-with-image/">
                                                    @foreach (var photo in news.Photos)
                                                    {
                                                        int count = 0;
                                                        <img object-fit: cover width="350" height="250" src="@photo.Url" class="charityclub wp-post-image" alt="1" srcset="@photo.Url 350w, @photo.Url 300w" sizes="(max-width: 350px) 100vw, 350px" />

                                                        if (++count == 1)
                                                        {
                                                            break;
                                                        }

                                                    }
                                                </a>
                                                <div class="news-date">@news.DateCreate<span class="month">Sep</span></div>
                                            </figure>
                                            <div class="content-box">
                                                <h3><a href="~/Content/Home/wp/FreeGrabs/2016/09/lates-blog-post-with-image/">@news.Subject</a></h3>
                                                <div class="post-info clearfix">
                                                    <div class="post-info"><span class="icon flaticon-people-1"></span>  By @news.Customer.FirstName @news.Customer.LastName </div>
                                                    <div class="post-options clearfix">
                                                        <a href="~/Content/Home/wp/FreeGrabs/2016/09/lates-blog-post-with-image/#comments" class="comments-count"><span class="icon flaticon-communication-2"></span> 0 comment</a>
                                                        <a href="javascript:void(0);" class="fav-count jolly_like_it" data-id="107"><span class="icon flaticon-favorite-1"></span> 5</a>
                                                    </div>
                                                </div>
                                                <div class="text">

                                                    <p> @Html.Raw(news.Content.Length > 200 ? news.Content.Substring(0, 200) : news.Content)  </p>



                                                </div>
                                                <a href="/Home/NewsDetail/@news.Id" class="theme-btn read-more">Read More</a>
                                            </div>
                                        </article>
                                    </div>
                                }
                            </div>
                        </div>
                    </section>

                </div>
            </div>
        </div>
    </div><div class="vc_row wpb_row vc_row-fluid">

    </div>
</div>
<script>
    function showPopup(id) {
        $('#currentIdPatient').val(id);

        $('#myModal').modal({
            show: 'false'

        });
        $('.btnAdd').click(function () {

            // Checking whether FormData is available in browser
            if (window.FormData !== undefined) {

                var fileUpload = $("#avatar").get(0);
                var files = fileUpload.files;

                // Create FormData object
                var fileData = new FormData();

                // Looping over all files and add it to FormData object
                for (var i = 0; i < files.length; i++) {
                    fileData.append(files[i].name, files[i]);
                }

                //  Adding one more key to FormData object
                fileData.append('username', 'Manas');

                var PatientId = id; //Reading text box values using Jquery

                var FullName = $(".full-name").val();

                var IDCard = $("#id-card").val();
                var Phone = $("#phone-number").val();
                alert(PatientId);
                fileData.append("PatientId", PatientId);
                fileData.append("Phone", Phone);
                fileData.append("FullName", FullName);

                fileData.append("IDCard", IDCard);
                $.ajax({
                    url: '/Home/addGraber/' + PatientId,
                    type: "POST",
                    contentType: false, // Not to set any content header
                    processData: false, // Not to process data
                    data: fileData,
                    success: function (result) {
                        alert(result);
                        $('.patient_' + PatientId).remove();

                        $(".modal-body input").val("");
                        $(".modal-body image-upload").val("");
                        $('#currentIdPatient').val("");
                        $('#myModal').modal('hide');

                    },
                    error: function (err) {

                        alert(err.statusText);

                    }
                });
            } else {
                alert("FormData is not supported.");
            }
        });



    }

    //});

</script>   