@model FreeGrab.Models.ResetPasswordModel
@{
    ViewBag.Title = "Reset Password";
}










<link rel='stylesheet' href='~/Content/Form/Graber.css' type='text/css' />

<div class="bg-contact2" style="background-image: url('/Content/Home/img/4.jpg');">
    <div class="container-contact2">
        <div class="wrap-contact2">

            @using (Html.BeginForm())
            {
                
                    @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <span class="contact2-form-title">
                    RESET YOUR PASSWORD
                </span>
                @Html.ValidationSummary(true, "", new { @class = "text-danger textform" })

                <div class="form-group row">
                    @Html.LabelFor(model => model.NewPassword, htmlAttributes: new { @class = "control-label col-md-2 textform" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control textform", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.LabelFor(model => model.ConfirmPassword, htmlAttributes: new { @class = "control-label col-md-2 textform" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control textform", @type = "password" } })
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group row">
                    @Html.HiddenFor(a => a.ResetCode)
                </div>



                @*<div class="row form-group">
            <label class="col-md-2">Config password</label>
            <div class="col-md-10">
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", placeholder = "Confirm Your Password" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>
        </div>*@



                <div class="form-group ">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Submit" class="btn btn-default textform" />
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-offset-2 col-md-10">
                        @ViewBag.Message
                    </div>
                </div>
            </div>

                    <div>
                        @Html.ActionLink("Back to List", "Index", null, new { @class = "textform" })
                    </div>


                }


                @Html.ActionLink("Register Now?", "Register", "Home", null, new { @class = "textform" })
                @Html.ActionLink("Forgot Password?", "ForgotPassword", "Home", null, new { @class = "textform" })
            </div>



    </div>
</div>
