@model FreeGrab.Models.Customer


@{
    ViewBag.Title = "Update Your Profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel='stylesheet' href='~/Content/Form/Graber.css' type='text/css' />

<div class="bg-contact2" style="background-image: url('/Content/Home/img/4.jpg');">
    <div class="container-contact2">
        <div class="wrap-contact2">

            <li class="nav-item nav-link">@Html.ActionLink("Change Password", "ChangePassword", "AccountCustomer", null, new { @class = "textform")</li>
            <li class="nav-item nav-link">@Html.ActionLink("Update Profile", "UpdateProfile", "AccountCustomer", null, new { @class = "textform")</li>
            <li class="nav-item nav-link">@Html.ActionLink("Logout", "Logout", "Home", null, new { @class = "textform")</li>

            @Html.ActionLink("Register Now?", "Register", "Home", null, new { @class = "textform" })
            @Html.ActionLink("Forgot Password?", "ForgotPassword", "Home", null, new { @class = "textform" })
        </div>



    </div>
</div>
